doctype html
html
    head
    body
        h1#pageTitle Page Title Goes Here
        p.big-paragraph. 
            Here is some text for 
            a big multi-line paragraph
            And here is 
            some more text!
        p.big-paragraph. 
            here is another big paragraph
            wow
        .display-box an unspecified element (just class name) will make a div
        #myOnlyDiv You can also do it like this for an ID
        